#content {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
}
#users {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#users td, #users th {
    border: 1px solid #ddd;
    padding: 8px;
}

#users tr:nth-child(even){background-color: #f2f2f2;}

#users tr:hover {background-color: #ddd;}

#users th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1cb763;
    color: white;
}

#users h1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}